In [7]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>")) #reduce margins in jupyter notebook

# Scrape the top 100 lists
From http://billboardtop100of.com/

In [2]:
# 'http://billboardtop100of.com/' + year + '-2/' -- this is our lovely, consistent url format

In [8]:
from bs4 import BeautifulSoup
from pprint import pprint

import requests
import random
import numpy as np
import pandas as pd
import re
import time

In [9]:
start = 1960 #somewhat arbitrary date cutoff because scraping dates before this is /much/ more time consuming
stop = 2013 #exclusive, our dataset was released in 2011 and last updated in 2012 as far as I can tell

years = np.arange(start,stop,1)
ranks = np.arange(1,101,1)

In [10]:
def get_top_100(year):

    #get our soup
    url = "http://" + 'billboardtop100of.com/' + str(year) + '-2/'
    response = requests.get(url)
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    
    # extract the only table (woo!) from the page
    table = soup.find('table')

    results = {} 
    info = [] 
    # each <td> is buried in a <tr>
    for tr in table.find_all('tr'): 
        for td in tr.find_all('td'):
            info.append(td.text)
            
    # dictionary comprehension uses first value (rank) as key, then next two (artist, title) as vals
    for i in range(0, len(info), 3): 
            results[info[i]] = (info[i+1], info[i+2])
        
    dict_list = []
    for k in results.keys(): # reformatting our dictionary into something pandas can eat because I'm a bad zookeeper
        rating = k
        artist = results[k][0]
        song = results[k][1]
        
        # store the newly formatted dictionary
        temp_dict = {'Rating': rating,
                     'Artist' : artist,
                     'Song' : song,
                     'Year' : str(year)}
        # add the temporary dict to a list of dictionaries
        dict_list.append(temp_dict)
        
    # move our list of dicts into a dataframe
    df = pd.DataFrame(dict_list)
    return df

In [11]:
historical_top_100 = pd.DataFrame()

filler_db = pd.DataFrame(np.nan,index=np.arange(100),columns=('Rating','Artist','Song','Year')) # so that we don't error out when appending dfs for weird years

for year in years: # loop through our list of years to scrape all pages
    try:
        historical_top_100 = historical_top_100.append((get_top_100(year)))
        #pprint(historical_top_100)
    except: # if we fail, instead append an empty db so that we know which years failed and can fill in later
        d = {'Rating':np.nan, 'Artist':np.nan, 'Song':np.nan, 'Year':year }
        filler_db = pd.DataFrame(data=d, index=np.arange(100))
        #print(filler_db)
        historical_top_100.join(filler_db)
        continue
        
    delay = random.randint(1, 4) # add delay to make this look human-like
    time.sleep(delay)

In [12]:
pprint(historical_top_100) # verify we extracted information correctly, should be ((stop-start)*100 columns)

                                     Artist Rating  \
0                               Percy Faith      1
1                                Jim Reeves      2
2                           Everly Brothers      3
3                            Johnny Preston      4
4                              Mark Dinning      5
5                                Brenda Lee      6
6                             Elvis Presley      7
7                               Jimmy Jones      8
8                             Elvis Presley      9
9                            Chubby Checker     10
10                           Connie Francis     11
11                             Bobby Rydell     12
12                            Brothers Four     13
13                               Jack Scott     14
14                            Marty Robbins     15
15                        Hollywood Argyles     16
16                           Connie Francis     17
17                               Brenda Lee     18
18                             Brian Hyland     19
19                              Roy Orbison     20
20                    Dion and The Belmonts     21
21                           Connie Stevens     22
22                                Paul Anka     23
23                           Frankie Avalon     24
24                                 Ventures     25
25                                 Drifters     26
26        Brook Benton and Dinah Washington     27
27                            Johnny Horton     28
28                                Sam Cooke     29
29                          Everly Brothers     30
..                                      ...    ...
70                                    Adele     71
71                                    Usher     72
72                              Wiz Khalifa     73
73                                    Ne-Yo     74
74                              Nicki Minaj     75
75                            Kenny Chesney     76
76                               Trey Songz     77
77                              Kirko Bangz     78
78                Rihanna feat. Chris Brown     79
79                                    B.o.B     80
80                                    Train     81
81                               Toby Keith     82
82               Selena Gomez and The Scene     83
83                              Chris Brown     84
84                                    Ke$ha     85
85  T-Pain feat. Wiz Khalifa and Lily Allen     86
86                          Christina Perri     87
87                             Jason Aldean     88
88                                  Rihanna     89
89               Havana Brown feat. Pitbull     90
90                          Imagine Dragons     91
91                                 Ca$h Out     92
92                               Luke Bryan     93
93                                  Rihanna     94
94                                Lee Brice     95
95                                Kip Moore     96
96                                   Miguel     97
97                             Jason Aldean     98
98                           Eli Young Band     99
99                              Linkin Park    100

                                                 Song  Year
0                         Theme From “A Summer Place”  1960
1                                    He’ll Have To Go  1960
2                                       Cathy’s Clown  1960
3                                        Running Bear  1960
4                                          Teen Angel  1960
5                                           I’m Sorry  1960
6                                   It’s Now Or Never  1960
7                                           Handy Man  1960
8                                        Stuck On You  1960
9                                           The Twist  1960
10                        Everybody’s Somebody’s Fool  1960
11                                           Wild One  1960
12                                        Greenfields  1960
13                  What In The World’s Come Over You  1960
14                                            El Paso  1960
15                                          Alley-oop  1960
16                     My Heart Has A Mind Of Its Own  1960
17                                     Sweet Nothin’s  1960
18    Itsy Bitsy Teenie Weenie Yellow Polkadot Bikini  1960
19                                    Only The Lonely  1960
20                                      Where Or When  1960
21                                    Sixteen Reasons  1960
22                                         Puppy Love  1960
23                                                Why  1960
24                                     Walk, Dont Run  1960
25                         Save The Last Dance For Me  1960
26                       Baby (You Got What It Takes)  1960
27                                   Sink The Bismark  1960
28                                         Chain Gang  1960
29                                       Let It Be Me  1960
..                                                ...   ...
70                                Rolling In The Deep  2012
71                                             Climax  2012
72                               Work Hard, Play Hard  2012
73  Let Me Love You (Until You Learn To Love Yours...  2012
74                                    Pound The Alarm  2012
75                                          Come Over  2012
76                                       Heart Attack  2012
77                                    Drank In My Cup  2012
78                                      Birthday Cake  2012
79                                            So Good  2012
80                             50 Ways To Say Goodbye  2012
81                                       Red Solo Cup  2012
82                          Love You Like A Love Song  2012
83                                  Turn Up The Music  2012
84                                          Die Young  2012
85                                          5 O’Clock  2012
86                                   A Thousand Years  2012
87                                 Take A Little Ride  2012
88                                         You Da One  2012
89                                   We Run The Night  2012
90                                          It’s Time  2012
91                                        Cashin’ Out  2012
92                     I Don’t Want This Night To End  2012
93                                           Diamonds  2012
94                                       Hard To Love  2012
95                            Somethin’ ‘Bout A Truck  2012
96                                              Adorn  2012
97                                    Fly Over States  2012
98                       Even If It Breaks Your Heart  2012
99                                       Burn It Down  2012

[5300 rows x 4 columns]

In [13]:
historical_top_100.to_csv('historical_top_100.csv') # export our csv

In [14]:
hist = pd.DataFrame.from_csv('/Users/horisustar/projects/project2backup/historical_top_100.csv',sep=',') # check our csv

/Users/horisustar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  """Entry point for launching an IPython kernel.

In [15]:
hist.head() # looks good!

            Artist  Rating                         Song  Year
0      Percy Faith       1  Theme From “A Summer Place”  1960
1       Jim Reeves       2             He’ll Have To Go  1960
2  Everly Brothers       3                Cathy’s Clown  1960
3   Johnny Preston       4                 Running Bear  1960
4     Mark Dinning       5                   Teen Angel  1960